.jog {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.jogImg {
    width: 87px;
    height: 87px;
    object-fit: contain;
    margin-right: 46px;
}

.jogData {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dataItem {
    margin: 5px 0;
    font-size: 14px;
}

.thick {
    font-weight: 500;
}

.dataItemColor {
    color: #818181;;
}

@media screen and (max-width: 420px) {
    .jog {
        height: 188px;
        margin-top: 0;
        border-bottom: 2px solid #eaeaea;
    }
}