.Filter {
    height: 60px;
    background-color: #eaeaea;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.filerText {
    font-family: 'SFUIText', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #5d5d5d;
    margin-right: 16px;
}

.input {
    width: 100px;
    height: 31px;
    border-radius: 11px;
    border: solid 1px #979797;
    background-color: #ffffff;
    margin-right: 45px;
}

@media screen and (max-width: 420px) {
    .Filter {
        justify-content: space-around;
    }

    .input {
        width: 72px;
        margin-right: 0;
    }
}