.header {
    height: 116px;
    background-color: #7ed321;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 30px 37px;
    width: 147px;
    height: 56px;
    object-fit: contain;
    background-image: url('../../Files/Images/Logo/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.desktopMenu {
    display: block;
}

.afterNav {
    padding: 2px;
    border-bottom: 2px solid #ffffff;
}

.menuHeaderFont {
    margin-right: 45px;
    height: 16px;
    composes: forFont from "../../App.css";
    font-size: 14px;
    cursor: pointer;
    color: #ffffff;
}

.filter {
    width: 26px;
    height: 26px;
    margin-right: 36px;
}

.filter_active {
    width: 39px;
    height: 39px;
    margin-right: 36px;
}

.burger {
    display: none;
}

.showFilter {
    display: block;
}

@media screen and (max-width: 420px) {
    .header {
        width: 100%;
        height: 77px;
        background-color: #7ed321;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin: 20px 25px;
        width: 98px;
        height: 37px;
    }

    .nav {
        width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
    }

    .desktopMenu {
        display: none;
    }

    .filter {
        margin-right: 0;
    }

    .filter_active {
        margin-right: 0;
    }

    .burger {
        display: block;
        width: 28px;
        height: 26px;
        background-image: url('../../Files/Images/Mobile/menu/menu.png');
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 25px;
        margin-left: 45px;
    }

    .showFilter {
        display: none;
    }

    .showFilterMobile {
        display: block;
    }
}