.forFont {
    font-family: 'SFUIText', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-decoration: none;
}