.jogs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.addImg {
    width: 60px;
    height: 60px;

    float: right;
    position: sticky;
    right: 40px;
    bottom: 40px;
}

@media screen and (max-width: 420px) {
    .addImg {
        width: 47px;
        height: 47px;

        right: 30px;
        bottom: 30px;
    }
}